<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="bundler/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="bundler/blazor-bootstrap/blazor.bootstrap.css" />
    <link rel="stylesheet" href="bundler/css/bundler.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor.Tools.styles.css" />
    <link rel="stylesheet" href="_content/{ASSEMBLY NAME}/{ASSEMBLY NAME}.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="bundler/blazored-typeahead/blazored-typeahead.js"></script>
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
