<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Clears all existing package sources -->
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Blazor.Tools Packages" value="C:\repo\Blazor.Tools\packages" />
  </packageSources>
  <!--<disabledPackageSources>
    <add key="Nuget.org" value="true" />
  </disabledPackageSources>-->
</configuration>
