<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Clears all existing package sources -->
	  <!--
    <add key="BlazorBundler" value="C:\repo\Blazor.Tools\Blazor.Tools.BlazorBundler\bin\Release" />
    <add key="BlazorBundlerPackages" value="C:\repo\Blazor.Tools\Blazor.Tools.BlazorBundler\packages" />
    <add key="GlobalNuGetPackages" value="C:\Users\solom\.nuget\packages" /> -->
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" /> 
    <add key="Blazor.Tools Packages" value="C:\repo\Blazor.Tools\packages" /> 
	  <!-- Re-enable NuGet.org -->
  </packageSources>
  <!--<disabledPackageSources>
    <add key="Nuget.org" value="true" />
  </disabledPackageSources>-->
</configuration>
