@page "/test-data-table-grid"
@rendermode InteractiveServer

@using Blazor.Tools
@using Blazor.Tools.BlazorBundler.Components.Grid
@using Blazor.Tools.Components.Pages.SampleObjects
@using Bogus
@using System.Data
@inject NavigationManager Navigation

<PageTitle>Test Data Table Grid</PageTitle>

<h1>Testing Sample Data Table Grid Component</h1>

@* <DataTableGrid SelectedTable="@_data.Employees" HiddenColumnNames="@_hiddenEmployeeColumns" />
<DataTableGrid SelectedTable="@_data.Countries" HiddenColumnNames="@_hiddenCountryColumns" /> *@
 
@code {

    //[Inject] public ISessionTableService _sessionTableService { get; set; } = default!;

    private SampleData _data = new SampleData();
}
