@page "/test-table-grid"
@rendermode InteractiveServer
@using Blazor.Tools.Components.AI
@using Blazor.Tools.Components.TableGrid
@using Bogus
@using System.Data

@inject NavigationManager Navigation

<PageTitle>Test Table Grid</PageTitle>

<h1>Testing Sample Table Grid Component</h1>

<TableGrid Title="Employee Table" AllowCellSelection="true">
    <TableSource Name="EmployeeDS" DataSource="@_employees" />
    <TableSource Name="CountryDS" DataSource="@_countries" />
    <TableNode Title="AccSol Table" DataSource="EmployeeDS">
        <TableColumn DataSourceName="EmployeeDS" FieldName="ID" Type="TextBox" />
        <TableColumn DataSourceName="EmployeeDS" FieldName="FirstName" Type="TextBox" HeaderName="First Name" />
        <TableColumn DataSourceName="EmployeeDS" FieldName="MiddleName" Type="TextBox" HeaderName="Middle Name" />
        <TableColumn DataSourceName="EmployeeDS" FieldName="LastName" Type="TextBox" HeaderName="Last Name" />
        <TableColumn DataSourceName="CountryDS" FieldName="CountryID" Type="DropdownList" DisplayFieldName="Name" DisplayFieldValue="ID" HeaderName="Country" />
    </TableNode>
</TableGrid>
 
@code {

    private DataTable _employees = default!;
    private DataTable _countries = default!;
    protected override void OnParametersSet()
    {
        Console.WriteLine("TestTableGrid OnParametersSetAsync");
        // Initialize _employees DataTable
        _employees = new DataTable();
        _employees.Columns.Add("ID", typeof(int));
        _employees.Columns.Add("FirstName", typeof(string));
        _employees.Columns.Add("MiddleName", typeof(string));
        _employees.Columns.Add("LastName", typeof(string));
        _employees.Columns.Add("CountryID", typeof(int));

        for (int i = 0; i < 101; i++)
        {
            var employee = employeeFaker.Generate();
            _employees.Rows.Add(employee.ID, employee.FirstName, employee.MiddleName, employee.LastName, employee.CountryID);
        }

        // Initialize and generate country data
        _countries = new DataTable();
        _countries.Columns.Add("ID", typeof(int));
        _countries.Columns.Add("Name", typeof(string));

        var countries = new List<dynamic>
        {
            new { ID = 1, Name = "USA" },
            new { ID = 2, Name = "Canada" }
        };

        foreach (var country in countries)
        {
            _countries.Rows.Add(country.ID, country.Name);
        }

    }
}
